@import "tailwindcss";
@plugin "daisyui";

@keyframes fade-slide-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-slide-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.fade-slide-in {
    animation: fade-slide-in 0.25s ease-out forwards;
    overflow-x: hidden;
}

.fade-slide-out {
    animation: fade-slide-out 0.25s ease-out forwards;
    overflow-x: hidden;
}

#suggestionsList {
    position: relative;
    display: table-column;
    max-height: 100px;
    min-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--tw-prose-pre-bg) transparent;
}