@import "tailwindcss";
@plugin "daisyui";

@keyframes fade-slide-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-slide-out {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-20px);
    }
}

.fade-slide-in {
    animation: fade-slide-in 0.5s ease forwards;
}

.fade-slide-out {
    animation: fade-slide-out 0.5s ease forwards;
}